.patient-appointments-page {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #004643;
    /* Dark green background */
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.logo-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-section i {
    font-size: 1.8em;
    margin-right: 10px;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    padding: 12px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.nav-menu li:hover {
    background-color: #02635e;
    /* Slightly lighter green for hover */
}

.nav-menu li i {
    margin-right: 10px;
    min-width: 20px;
    /* Ensure icons align */
}

/* Logout Section */
.logout-section {
    margin-top: auto;
    /* Pushes logout to the bottom of the sidebar */
    padding-top: 20px;
}

.logout-section button {
    width: 100%;
    padding: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-section button:hover {
    background-color: #ff3b3b;
}


.appointments-content-area {
    flex-grow: 1;
    background-color: #f4f7f6;
    padding: 20px;
}

.appointments-content-area h1 {
    color: #004643;
    margin-bottom: 20px;
}

.appointments-content-area ul {
    list-style-type: none;
    padding: 0;
}

.appointments-content-area li {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s;
}

.appointments-content-area li:hover {
    background-color: #e6f4f1;
}

.appointments-content-area button {
    display: block;
    width: max-content;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #02635e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.appointments-content-area button:hover {
    background-color: #004643;
}