.upload-medical-records-container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex-grow: 1;
    background-color: #f4f7f6;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.patient-record {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.patient-info {
    display: flex;
    align-items: center;
}

.patient-details {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Space between details and buttons */
}



.patient-name {
    margin-top: 5px;
}

.file-upload-actions {
    display: flex;
    align-items: center;
}

.input-file-container {
    margin-right: 10px;
}

.upload-button {
    padding: 10px 20px;
    background-color: #02635e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #004643;
}